* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY BACKGROUND */
body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Libre Baskerville', serif;
}

/* ================= COVER ================= */

.cover {
  position: fixed;
  /*width: 100%;
  height: 100%;*/
  inset: 0;  
  background: url("bg.png") center/cover no-repeat;
  z-index: 10;
   height: 100dvh;  /* better than 100vh */
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* INITIALS */
.initials {
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  color: #e8a9a9;
}

.initials span {
  display: inline-block;
  transition: 1s ease;
}

.tap {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

/* DOOR ANIMATION */
.open .left {
  transform: translateX(-200px);
  opacity: 0;
}

.open .right {
  transform: translateX(200px);
  opacity: 0;
}

.open .center {
  opacity: 0;
}

/* ================= CARD ================= */

.card {
  width: 400px;
  height: 700px;

  background: url("background.png") center/contain no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
}

/* TEXT */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}

.heading {
  font-family: 'Cinzel', serif;
  font-size: 12px;
  margin-bottom: 20px;
}

.names {
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
  color: #e8a9a9;
  margin: 20px 0;
}

.names span {
  color: #7a9a7a;
}

.family {
 font-family: 'Cinzel', serif;
  font-size: 12px;
  margin-bottom: 20px;
}

.date {
  font-family: 'Cinzel', serif;
  margin: 20px 0;
}

.venue {
  margin: 20px 0;
  font-family: 'Cinzel', serif;
  font-size: 12px;
  text-decoration: none;
  color: inherit;
}
.venue-link {
  font-size: 10px;
  margin: 20px 0;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #d4af37; /* gold feel */
  border-bottom: 1px solid #d4af37;
  padding-bottom: 2px;
  transition: 0.3s;
}

.venue-link:hover {
  color: white;
  border-color: white;
}

